/* SECTION CAROUSEL */

#carousel-box {
    width: 75vw;
    position: relative;
    bottom: 15vh;
}

/* BANNIERE MANNEQUIN */

/* CAROUSEL */

.carousel {
    width: 75%;
    position: relative;
}

.carousel .slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s; /* Transition pour l'effet de fondu */
}

.section-carrousel { 
    margin-top: 28em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-img {
    height: 45vh;
    width: 45vw;
}